@tailwind base;
@tailwind components;

@layer components {
  .container {
    @apply px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8 lg:py-24;
  }
}

@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .safe-area {
    padding-bottom: env(safe-area-inset-bottom, 0);
  }
}
